oneOf:
	- #allOf
		type: map
		properties:
			allOf:
				type: array
				item:
					reference: '#'
				minCount: 1
	- #anyOf
		type: map
		properties:
			anyOf:
				type: array
				item:
					reference: '#'
				minCount: 1
	- #oneOf
		type: map
		properties:
			oneOf:
				type: array
				item:
					reference: '#'
				minCount: 1
	- #reference
		type: map
		properties:
			reference: string
	- #direct types
		type: regexp
		value: '~^(any|null|string|bool|int|float)(\|(any|null|string|bool|int|float))*$~'
	- #types
		anyOf:
			- #map.properties
				type: map
				properties:
					type:
						type: regexp
						value: '~map~'
					properties:
						type: map
						regexpProperties:
							'.+':
								reference: '#'
			- #map.regexp_properties
				type: map
				properties:
					type:
						type: regexp
						value: '~map~'
					regexpProperties:
						type: map
						regexpProperties:
							'.+':
								reference: '#'
			- #array
				type: map
				properties:
					type:
						type: regexp
						value: '~array~'
					item:
						reference: '#'
					maxCount:
						type: int
						optional: true
					minCount:
						type: int
						optional: true
			- #any|null|string|bool|int|float
				type: map
				properties:
					type:
						type: regexp
						value: '~^(any|null|string|bool|int|float)(\|(any|null|string|bool|int|float))*$~'
			- #const
				type: map
				properties:
					type:
						type: regexp
						value: '~const~'
					value: null|string|bool|int|float
			- #regexp
				type: map
				properties:
					type:
						type: regexp
						value: '~regexp~'
					value: string
			- #enum
				type: map
				properties:
					type:
						type: regexp
						value: '~enum~'
					values:
						type: array
						item: null|string|bool|int|float
