oneOf:
	- #allOf
		type: map
		properties:
			allOf:
				type: array
				item:
					reference: '#'
				minCount: 1
	- #anyOf
		type: map
		properties:
			anyOf:
				type: array
				item:
					reference: '#'
				minCount: 1
	- #oneOf
		type: map
		properties:
			oneOf:
				type: array
				item:
					reference: '#'
				minCount: 1
	- #reference
		type: map
		properties:
			reference: string
	- #enum
		type: map
		properties:
			enum:
				type: array
				item: null|string|bool|int|float
	- #direct types
		type: string
		regexp: '~^(any|null|string|bool|int|float)(\|(any|null|string|bool|int|float))*$~'
	- #types
		allOf:
			- #type structure
				type: map
				properties:
					type:
						type: string
						regexp: '~^(any|null|string|bool|int|float|map|array)(\|(any|null|string|bool|int|float|map|array))*$~'
			- #sub-validators
				anyOf:
					- #map.properties
						type: map
						properties:
							type:
								type: string
								regexp: '~map~'
							properties:
								type: map
								regexpProperties:
									'.+':
										reference: '#'
					- #map.regexpProperties
						type: map
						properties:
							type:
								type: string
								regexp: '~map~'
							regexpProperties:
								type: map
								regexpProperties:
									'.+':
										reference: '#'
					- #array
						type: map
						properties:
							type:
								type: string
								regexp: '~array~'
							item:
								reference: '#'
							maxCount:
								type: int
								optional: true
							minCount:
								type: int
								optional: true
					- #string
						type: map
						properties:
							type:
								type: string
								regexp: '~string~'
							?regexp: string
							?minLength: int
							?maxLength: int
					- #others
						type: map
						properties:
							type:
								type: string
								regexp: '~any|null|bool|int|float~'
